<p class="pull-right">Viser <strong><%= @representatives.size %></strong> representanter.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Fylke</th>
      <th>Parti</th>
      <th>Komiteer</th>
      <th>Fast vara for</th>
    </tr>
  </thead>
  <tbody>
      <% @representatives.each do |rep| %>
      <tr>
        <td><%= rep.name %></td>
        <td><%= rep.county %></td>
        <td><%= rep.party.name %></td>
        <td>
          <ul class="unstyled">
            <% rep.committees.each do |com| %>
            <li><%= com.import_id %></li>
            <% end %>
          </ul>
        </td>
        <td><%= rep.deputy_for && rep.deputy_for.name %></td>
      </tr>
      <% end %>
  </tbody>
</table>